.filename 
{
  font-family: monospace;
}

code 
{
  border-width: 4px;
  padding: 10px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eeeeee;
}

pre 
{
  margin-left: 20px;
  white-space: pre-wrap;
}

h1 
{
  border-color: black;
  border-width: 1px;
  border-bottom: 3px solid black;
}

h2 
{
  border-color: black;
  border-width: 1px;
  border-bottom: 1px solid black;
  margin-top: 50px;
}

h3 
{
  margin-top: 30px;
}

table
{
  border-collapse: collapse;
}

td
{
  vertical-align: top;
}
